.navbar{
    align-items: center;
    flex-direction: row-reverse;
    background-color: #D9A273 !important;
}
.container-fluid .navbar .container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.container .navbar-brand{
    margin-right: 100%;
}

.nav-link:hover {
    text-decoration: underline;
}
